repos:
  - repo: https://github.com/psf/black
    rev: "23.7.0"
    hooks:
      - id: black

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.0.3"
    hooks:
      - id: prettier

  - repo: https://github.com/frostming/pofmt
    rev: "0.4.0"
    hooks:
      - id: pofmt
        additional_dependencies: ["pangu"]

  - repo: https://github.com/pycqa/isort
    rev: "5.12.0"
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.5.1"
    hooks:
      - id: mypy
        files: ^src/
  - repo: https://github.com/hakancelikdev/unimport
    rev: "1.0.0"
    hooks:
      - id: unimport
        args:
          - --include=src
