language: python
python:
  - "3.7"
  - "3.8"
  - "3.9"
  - "3.10"
  - "3.11-dev"
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install -r docs/requirements.txt
  - python setup.py install
# command to run tests
script:
  - pytest
  - sphinx-build -b html -D language=en docs/source docs/build/en/html
  - sphinx-build -b html -D language=zh_CN docs/source docs/build/zh_CN/html
