autoclasstoc
docutils
GitPython
myst-parser
numpy
pandas
pydata-sphinx-theme
pillow
sphinx
sphinx-toolbox
sphinx-autodoc-toolbox
sphinx-autodoc-typehints
sphinx-copybutton
sphinx-design
sphinx-gallery
sphinx-hoverxref
sphinx-intl
sphinx-codeautolink
sphinx-togglebutton
