name: Update docs
on:
  push:
    branches:
    - 'V20**'
    paths:
    - 'src/**'
    - 'docs/source/**'
  workflow_dispatch:
    
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        language: ['en', 'zh_CN']
    steps:
    - name: Get current date
      id: date
      run: echo "::set-output name=date::$(date +'%Y/%m/%d')"
    - uses: actions/setup-python@v4
      with:
        python-version: "3.10"
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
    - uses: bhowell2/github-substring-action@v1.0.0
      id: folder
      with:
        value: "${{ github.ref_name }}"
        length_from_end: 4
    - name: Build and Commit
      run: |
        pip install -r docs/requirements.txt
        pip install .
        tmp_dir=$(mktemp -d -t pages-XXXXXXXXXX)
        echo "$tmp_dir created"
        sphinx-build -b html -D language=${{ matrix.language }} docs/source $tmp_dir
        git checkout gh-pages
        rm -rf $tmp_dir/.doctrees
        cp -vr $tmp_dir/. docs/${{ matrix.language }}/${{ steps.folder.outputs.substring }}
        touch "docs/${{ matrix.language }}/${{ steps.folder.outputs.substring }}/.nojekyll"
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v4
      with:
        commit-message: Update docs by GitHub Action https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
        body: |
          This is an automated pull request to update the docs by GitHub Action [${{ github.run_id }}](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}).
        author: haiiliin <hailin.wang@connect.polyu.hk>
        title: Update docs (${{ matrix.language }}, ${{ steps.date.outputs.date }})
        labels: docs, ${{ github.ref_name }}
        branch: docs/${{ matrix.language }}/${{ steps.folder.outputs.substring }}
        token: ${{ secrets.ACTION_TOKEN }}
