name: docs

on:
  pull_request:
    branches:
    - 20**
    types: [opened, reopened, synchronize]
    paths:
    - 'src/**'
    - 'docs/requirements.txt'
    - 'docs/source/**'
    - '.github/workflows/docs.yml'
    - 'pyproject.toml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  sphinx:
    if: >
      github.base_ref == '2023' ||
      contains(github.event.pull_request.labels.*.name, 'conflicts') ||
      contains(github.event.pull_request.labels.*.name, 'docs-test')
    runs-on: ubuntu-latest
    strategy:
      matrix:
        language: ['en']
    steps:
    - uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - uses: actions/checkout@v3
    - uses: actions/cache@v3.3.1
      with:
        path: docs/build/${{ matrix.language }}/html
        key: ${{ runner.os }}-docs-${{ matrix.language }}-${{ github.ref }}
    - name: Installing the library
      shell: bash -l {0}
      run: |
        pip install .[docs]
    - name: Build the documentation
      shell: bash -l {0}
      run: |
        sphinx-build ${{ env.SOURCEDIR }} ${{ env.BUILDDIR }} ${{ env.SPHINXOPTS }}
      env:
        SOURCEDIR: docs/source
        BUILDDIR: docs/build/${{ matrix.language }}/html/pr-${{ github.event.number }}
        SPHINXOPTS: -b html -D language=${{ matrix.language }} -j auto
    - uses: actions/cache@v3.3.1
      with:
        path: docs/build/${{ matrix.language }}/html
        key: ${{ runner.os }}-docs-${{ matrix.language }}-${{ github.ref }}
