name: docs

on:
  push:
    branches:
      - 20**
      - furo
    paths:
      - "src/**"
      - "docs/source/**"
      - "examples/**"
      - ".github/workflows/docs.yml"
  pull_request:
    branches:
      - "2023"
    types: [opened, reopened, synchronize]
    paths:
      - "src/**"
      - "docs/source/**"
      - "examples/**"
      - ".github/workflows/docs.yml"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  REPO_NAME: ${{ github.event.repository.name }}
  VERSION: ${{ github.event_name != 'pull_request' && github.ref_name || github.head_ref }}

jobs:
  sphinx:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        language: ["en", "zh_CN"]
        builder: ["html"]
        theme: ["sphinx_rtd_theme"]
    env:
      SPHINX_THEME: ${{ matrix.theme }}
      LANGUAGE: ${{ matrix.language }}

    steps:
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive
      - name: Installing the library
        run: |
          pip install .[docs]
          pip show abqpy
      - name: Build the documentation
        run: |
          sphinx-build -M ${{ matrix.builder }} ${{ env.SPHINXOPTS }} docs/source docs/build/${{ matrix.builder }}/${{ matrix.language }}
        env:
          SPHINXOPTS: -D language=${{ matrix.language }} -j auto
      - name: Upload artifacts
        if: github.event_name != 'pull_request'
        uses: actions/upload-artifact@v3
        with:
          name: docs-${{ matrix.language }}-${{ env.VERSION }}
          path: docs/build/${{ matrix.builder }}/${{ matrix.language }}
          retention-days: 1

  upload:
    if: github.event_name != 'pull_request'
    needs: sphinx
    runs-on: ubuntu-latest
    strategy:
      matrix:
        language: ["en", "zh_CN"]
        builder: ["html"]
        theme: ["sphinx_rtd_theme"]
    env:
      SPHINX_THEME: ${{ matrix.theme }}
      LANGUAGE: ${{ matrix.language }}

    steps:
      - uses: ahmadnassri/action-workflow-queue@v1
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Download artifacts
        uses: actions/download-artifact@v3
        with:
          name: docs-${{ matrix.language }}-${{ env.VERSION }}
          path: docs/build/${{ matrix.builder }}/${{ matrix.language }}
      - name: Upload the documentation
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/build/${{ matrix.builder }}/${{ matrix.language }}
          destination_dir: ${{ matrix.language }}/${{ env.VERSION }}
          keep_files: true
