# https://github.com/chabad360/hugo-gh-pages
name: GitHub Pages

on:
  push:
    branches:
      - "abqpy.com"
  pull_request:
    types: [opened, reopened, synchronize]
    branches:
      - "abqpy.com"
  workflow_dispatch:

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.10
      - name: Publish Site
        uses: chabad360/hugo-gh-pages@master
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
          cname: abqpy.com
