name: ReadTheDocs Versioning

on:
  workflow_dispatch:
    inputs:
      current:
        description: 'Current Minor.Patch versions to be activated'
        required: true
      previous:
        description: 'Previous Minor.Patch versions to be hidden'
        required: false
        default: ''


jobs:
  update:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project: [abqpy, abqpy-zh-cn]
    env:
      RTD_TOKEN: ${{ secrets.RTD_TOKEN }}
      PROJECT: ${{ matrix.project }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install fire requests
      - name: Activate Current Versions
        run: sh scripts/rtd.sh
        env:
          MINOR_PATCH: ${{ github.event.inputs.current }}
          ARGS: --active --nohidden
      - name: Hide Previous Versions
        run: sh scripts/rtd.sh
        if: ${{ github.event.inputs.previous != '' }}
        env:
          MINOR_PATCH: ${{ github.event.inputs.previous }}
          ARGS: --noactive --hidden
