name: ReadTheDocs Versioning

on:
  workflow_dispatch:
    inputs:
      current:
        description: "Current Minor.Patch version to be activated"
        required: true
      previous:
        description: "Previous Minor.Patch version to be hidden"
        required: false
        default: ""

jobs:
  update:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project: [abqpy, abqpy-zh-cn]
    env:
      RTD_TOKEN: ${{ secrets.RTD_TOKEN }}
      PROJECT: ${{ matrix.project }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install fire requests
      - name: Activate Current Versions
        run: sh .github/scripts/rtd.sh
        env:
          CURRENT_MINOR_PATCH: ${{ github.event.inputs.current }}
          PREVIOUS_MINOR_PATCH: ${{ github.event.inputs.previous }}
