name: tests

on:
  pull_request:
    branches:
      - 20**
    paths:
      - "src/**"
      - ".github/workflows/tests.yml"
  push:
    branches:
      - 20**
    paths:
      - "src/**"
      - ".github/workflows/tests.yml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tox:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: |
            3.7
            3.8
            3.9
            3.10
            3.11
            3.12
          allow-prereleases: true
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox coveralls
      - name: Test with tox
        run: tox
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
